@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 8px;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #b8b4b4;
}

.flip-card {
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card-head:hover .flip-card-inner {
  transform: rotateX(180deg);
}
.flip-card-front,
.flip-card-back {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-back {
  position: absolute;
  top: 0;
  transform: rotateX(180deg);
}
.popup {
  animation: popup 0.6s;
}
@media (min-width: 768px) {
  .popup {
    animation: popdown 0.6s;
  }
}
@keyframes popdown {
  0% {
    transform: translateX(-50%) translateY(50%) scale(0);
  }

  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
}
.sfsdf::-webkit-scrollbar {
  display: none;
}
@keyframes popup {
  0% {
    transform: translateY(-50%) scale(0);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

.sfsdf::-webkit-scrollbar,
.sdfdsf434::-webkit-scrollbar {
  display: none;
}
